*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

header {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    background-color: palevioletred;
    padding: 15px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    
    list-style: none;
}

.navigation li {
    font-size: 20px;
    margin-right: 15px;
    text-decoration: none;
}

.navigation a:link,
.navigation a:visited {
    color: #fff;
}